<div *ngIf="isChildeOpen" class="popup-overlay">
  <div class="popup">
    <h2>Admin-Bereich</h2>
    <div>
      <label for="pendingUserSearch">Pending Users:</label>
    </div>
    <div>
    <div>
      <ul class="custom-list">
        <li *ngFor="let user of pendingUser">
          <label>
            <input
              type="checkbox"
              [id]="user.userId"
              [value]="[user]"
              (change)="onChangeUserliste($event,user)"
            />
            {{ user.name }}
          </label>
        </li>
        <li *ngIf="!hasPendingUser">
          <label>
            <input
              type="checkbox"
              disabled
            />
            Keine Pending-User verfügbar.
          </label>
        </li>
      </ul>
    </div>
    <br />
    <button (click)="onApprove()">Approve</button>
    <button (click)="onBlock()">Blockieren</button>
    <button (click)="onAbbruch()">Abbruch</button>
    <div>
  </div>
</div>
